#wrapper{
	width: 250px;
	height: auto;
	/*outline: 1px solid #000;*/
}

ul.menubar{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li.drop-down{
	width: 250px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	outline: 1px solid red;
}

ul li.drop-down a{
	display: block;
	width: 100%;
	height: 100%;
}

ul li.drop-down ul.item{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: none;
}

ul li.drop-down ul.item li{
	width: 250px;
	height: 60px;
	line-height: 60px;
	outline: 1px solid blue;
}

ul li.drop-down ul.item a{
	display: block;
	width: 100%;
	height: 100%;
}