*{padding: 0; margin: 0}

table{
	border-collapse: collapse;
	margin: 50px auto 0;
}

table tr td{
	border: 1px solid #ccc;
	padding: 5px;
}

table tr td span{
	color: #f00;
}

span.alert{
	display: block;
	font-size: 14px;
}

.button{
	width: 140px;
	margin: 20px auto;
}