*{margin: 0;padding:0;}
body{font-size: 62.5%;}
h2{font-size: 21px;}
p{font-size: 16px;}
blockquote{
	width: 50%;
	background-color: #ccc;
	border: 1px solid #666;
	border-radius: 5px;
	padding: 20px 35px 20px 35px;
	font-size: 16px;
	position: relative;
	margin-bottom: 30px;
}
blockquote::before{
	content: "❝";
	width: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: 10px;
	border-radius: 50%;
	background-color: #fff;
	color: #999;
	text-align: center;
	font-size: 21px;
}
blockquote::after{
	content: "❞";
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	border-radius: 50%;
	background-color: #fff;
	color: #999;
	text-align: center;
	font-size: 21px;
}
.result{
	width: 50%;
	padding: 10px;
	margin-top: 30px;
	border: 1px solid #ccc;
}
